<!DOCTYPE html>

<html>


<head>
    <title>About</title>
    <link rel='icon' href='./img/weather.png'>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
      {{>header}}
        <p>This was site created for practice purposes. It uses data from mapbox.</p>
      <img class='portrait' src='/img/IMG_5172.jpg'>
      <p> {{body}} </p>

    </div>
  
  {{>footer}}
</body>


</html>